@using DependencyInjectionSample.Model
@using DependencyInjectionSample.Service
@model IEnumerable<UserInfo>
@inject UserInfoService  StatsService
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DependencyInjectionSample</title>

   
</head>
<body>
    <h1>DI</h1>
    <ul>
        <li>id : @StatsService.GetUserInfo()</li>
    </ul>
</body>
</html>